.offer-class-for-color:nth-child(odd) {
  background-color: #ebf9fe !important;
}
.offer-class-for-color:nth-child(even) {
  background-color: #e3e3e3 !important;
}

.css-1lsh3xp-MuiGrid-root > .MuiGrid-item {
  margin-left: auto !important;
  margin-right: auto !important;
}
