/** @format */

.special-team {
	box-shadow: none !important;
	border-radius: 10px !important;
	margin-bottom: 32px !important;
	overflow: visible !important;
	align-self: center !important;
	position: relative !important;
	z-index: 1;
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.special-team {
		margin-bottom: 0px !important;
	}
	.special-team-content {
		height: 100px;
	}
}
.special-team:hover {
	cursor: pointer;
}
.special-team:hover .special-team-content {
	transition: linear 0.5s;

	background-color: #ebb273 !important;
	color: #fff !important;
}

.special-team:hover .special-team-content p {
	color: #fff !important;
}
.special-team:hover .edit {
	background-color: #ebb273 !important;
	color: white !important;
	transition: 1s ease-in-out !important;
}
.special-team:hover .delete {
	background-color: #000 !important;
	color: white !important;
	transition: 1s ease-in-out !important;
}
.groupButtons {
	width: 100%;
	margin: 30px 0;
}
.buttonTogether {
	width: 100% !important;
	padding: 15px !important;
	background: #f0f0f0 !important;
	color: #333 !important ;
	border: none !important;
	border-radius: 10px !important;
	text-transform: capitalize !important;
	font-size: 20px !important;
}
.edit {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	color: #88878f !important;
	margin-right: 2px !important;
}
.delete {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	color: #88878f !important;
}

.corosel-team-specialist .react-multiple-carousel__arrow--left {
	display: none !important;
}
.corosel-team-specialist .react-multiple-carousel__arrow--right {
	display: none !important;
}
.innerCard {
	margin-right: 15px;
}
.innerCard:last-child {
	margin-right: 0px !important;
}
/* .innerCard {
	flex-basis: 32.2% !important;
}
@media only screen and (min-width: 980px) and (max-width: 1050px) {
	.innerCard {
		flex-basis: 31.9% !important;
	}
}
@media only screen and (min-width: 900px) and (max-width: 979px) {
	.innerCard {
		flex-basis: 31.5% !important;
	}
	.special-team .special-team-content {
		height: 100px !important;
	}
}
@media only screen and (min-width: 599px) and (max-width: 850px) {
	.innerCard {
		max-width: 100% !important;
	}
	.special-team .special-team-content {
		height: 100px !important;
	}
} */

.addBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 30px;
	border-radius: 10px;
}
.addContent {
	display: flex;
	flex-direction: column !important;
	/* justify-content: center; */
}
.imageMember {
	width: 200px;
	height: 200px;
}
.upload {
	/* height: 300px;
	width: 300px; */
	margin-right: 40px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
.upload .heading {
	text-align: center;
	font-size: 27px !important;
}
.upload .img-holder {
	margin: auto;
	width: 185px;
	height: 185px;
	border: 4px solid orange;
	border-radius: 5px;
	margin-top: 15px;
}
.upload .imageUpload {
	width: 177px;
	height: 177px;
	object-fit: cover;
}
.upload #input[type="file"] {
	display: none;
}
.upload .label {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.upload .image-upload {
	margin: auto;
	color: white;
	border-radius: 10px;
	background-color: #e7a356;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 20px;
}
.inputBox {
	margin-bottom: 20px;
}
.inputBox p {
	margin-bottom: 10px;
}
.groupButton .save {
	background: #e7a356;
	color: white;
	margin-right: 15px;
}
.groupButton .save:hover {
	background: #e7a356;
	color: white;
}
.groupButton .cancel1 {
	color: white !important;
	background: #000 !important;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
	.addBox {
		flex-direction: column !important;
	}
	.imageMember {
		margin-bottom: 20px;
	}
	.upload {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}
/* .hero {
	background-color: red;
	height: 278px;
	position: absolute;
	top: 66px;
	left: 0;
	width: 100%;
	z-index: -1;
} */
