.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 10px !important;
}

.bookings-container {
  position: relative;
  z-index: 0;
}

.customerCard:hover .customerTitleHeading,
.customerCard:hover .personPrice {
  color: #e7a356 !important;
}

.customerCard:hover .customerSubHeading {
  color: #272522 !important;
}
.react-horizontal-scrolling-menu--scroll-container {
  width: auto;
}
.css-10ht2rm-MuiButtonBase-root-MuiButton-root {
  min-width: auto !important;
  padding: 0 !important;
  height: 76px !important;
}

.css-xvj8ct-MuiTypography-root {
  line-height: 0.5 !important;
}

.css-ejyy9y-MuiButtonBase-root-MuiButton-root {
  padding: 0px !important;
}

.css-9iunqt-MuiButtonBase-root-MuiButton-root {
  padding: 0px !important;
}

.main-button-container .css-1cpl7q7-MuiGrid-root {
  margin-left: 0px !important;
}

.activate-class {
  box-shadow: -5px 8px 10px 10px rgba(0, 0, 0, 0.1) !important;
  /* filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25)); */
  border: none !important;
}

@media only screen and (max-width: 800px) {
  .profile-header-image {
    height: 155px !important;
  }
}

/* @media only screen (min-width: 767px) and (max-width: 820px) {
  .salonOwnerName {
    margin-top: 10rem;
  }
} */

.profile-header-image {
  height: 275px;
}

.mobile-table {
  display: none;
}

.pagination-booking {
  justify-content: end;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .web-table {
    display: none;
  }
  .mobile-table {
    display: block;
  }
  .css-4obw3g-MuiButtonBase-root-MuiButton-root {
    margin-left: 11px !important;
  }
  .pagination-booking {
    display: flex;
  }
}
