.underline-download-app::after {
  content: "";
  width: 29px;
  height: 5px;
  display: block;
  background-color: #ebb273;
  text-align: left;
  margin-top: 15px;
}

.underline-download-app {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  /* identical to box height, or 137% */

  letter-spacing: -0.01em;
  text-transform: capitalize;

  color: #272522;
}
.para-css-download {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: lowercase;
  color: #7e7975;
}

.section-download {
  background-color: #fdf6ef;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
