/** @format */

.main-container {
	background: url(../../assets/images/customer/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: auto;
	position: relative;
	border-radius: 10px;
	z-index: 0;
	margin-top: 50px;
}
.banner-img {
	width: 100% !important;
	height: 100%;
	padding-top: 40px;
	padding-right: 50px;
}
.text-content {
	display: flex;
	flex-direction: column;
	justify-content: star;
	margin: 80px;
}
.heading-text {
	color: #000000;
	font-size: 47px !important;
}
.price {
	margin: 14px 0 !important;
}
.btn-sec {
	color: white !important;
	width: 180px;
	padding: 13px 15px !important;
	margin-top: 20px !important;
	text-transform: capitalize !important;
	align-items: self-start !important;
	border-radius: 8px !important;
}
.btn-sec:hover {
	background: #e7a356 !important;
}

.banner-sec .slick-dots {
	top: 445px;
}
.category-card {
	box-shadow: none !important;
	background: #fffefe !important;
	transition: 2s ease-in-out;
	cursor: pointer;
}
.card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fffefe !important;
	padding: 20px !important;

	/* box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8); */
}
.category-card:hover {
	transition: 0.6s ease-in-out;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07) !important;
}
.category-card:hover .category-title {
	color: #e7a356;
	transition: 0.6s ease-in-out;
}
.category-title {
	font-size: 18px !important;
	font-weight: 600 !important;
	margin: 0 !important;
}
.category-card:hover .arrow-icon {
	color: #e7a356 !important;
	transition: 0.6s ease-in-out;
}
.card-item .innerCard {
	flex-basis: 32.1% !important;
	margin-bottom: 20px !important;
}
.card-item {
	margin-top: 30px;
}

/* ShopNearBy css */

.shopnear {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	box-shadow: none !important;
	background: #f8f8f8 !important;
	position: relative;
	cursor: pointer;
}
.shopnear:hover {
	transition: 0.6s ease-in-out;
	box-shadow: 0px 4px 30px rgb(0 0 0 / 17%) !important;
}
.shop-img-container {
	position: relative;
}
.shop-img {
	width: 100% !important;
	height: 213px !important;
	border-radius: 10px;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.card-content1 {
	padding: 0 !important;
	margin: 0 80px;
	position: relative;
}
.floating-img {
	width: 110px !important;
	height: 110px !important;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
}
.float-img {
	width: 105px !important;
	height: 105px !important;
	border-radius: 50%;
	border: 5px solid white;
}
.location-sec {
	flex-direction: row !important;
	justify-content: space-between;
	margin: 15px 0;
}
.icons-sec {
	flex-direction: row !important;
	align-items: center;
}
.address {
	color: #616e7a;
	font-size: 18px !important;
	text-transform: capitalize;
	margin-left: 5px !important;
}
.star-icon {
	color: #616e7a;
	font-size: 18px !important;
	text-transform: capitalize;
	margin-left: 10px !important;
}
.blogs .OurBlogs-blogHeading-45 {
	text-align: left;
}

.mobileshow {
	display: none !important;
}
/* ShopNearBy css */
@media (min-width: 992px) and (max-width: 1900px) {
	.banner-sec .slick-dots {
		top: 445px;
	}
}
@media (min-width: 1100px) and (max-width: 1200px) {
	.text-content {
		margin-right: 0;
	}
}
@media only screen and (min-width: 950px) and (max-width: 1100px) {
	.text-content {
		width: 487px;
		margin-left: 60px;
	}
	.banner-img {
		padding-right: 15px;
	}
	.card-item .innerCard {
		flex-basis: 31.9% !important;
	}
	.card-content1 {
		margin-right: 40px;
	}
	.shop-img {
		width: 100% !important;
	}
}
@media only screen and (min-width: 880px) and (max-width: 949px) {
	.text-content {
		width: 425px;
		margin-left: 60px;
	}
	.banner-img {
		padding-right: 15px;
	}
	.heading-text {
		font-size: 35px !important;
	}
	.card-item .innerCard {
		flex-basis: 31.5% !important;
	}
	.card-content1 {
		margin-right: 30px;
		margin-left: 70px;
	}
	.shop-img {
		width: 100% !important;
	}
}
@media only screen and (min-width: 750px) and (max-width: 879px) {
	.main-container {
		margin-top: 100px;
	}
	.banner-img {
		padding-right: 15px;
	}
	.banner-sec .slick-dots {
		top: 498px;
	}
	.text-content {
		width: 350px;
		margin-left: 60px;
	}
	.heading-text {
		font-size: 35px !important;
	}
	.card-item .innerCard {
		flex-basis: 48.2% !important;
	}
	.card-content1 {
		margin-right: 30px;
		margin-left: 70px;
	}
	.shop-img {
		width: 100% !important;
	}
}
@media only screen and (min-width: 601px) and (max-width: 750px) {
	.main-container {
		margin-top: 100px;
	}
	.text-content {
		margin: 50px 0 60px 50px;
	}
	.banner-sec .slick-dots {
		top: 472px;
	}
	.heading-text {
		font-size: 26px !important;
	}
	.banner-img {
		padding-right: 12px;
	}
	.card-content1 {
		margin-right: 30px;
		margin-left: 60px;
	}
	.shop-img {
		width: 100% !important;
	}
}
@media only screen and (min-width: 601px) and (max-width: 749px) {
	.card-content1 {
		margin-right: 30px;
		margin-left: 60px;
	}
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
	.main-container {
		margin-top: 100px;
	}
	.banner-img {
		width: 100% !important;
		height: 100%;
		padding: 0px;
		padding-top: 35px;
	}
	.text-content {
		width: 100%;
		margin: 50px 0 0 20px;
		padding-bottom: 65px;
	}
	.description {
		display: none;
	}
	.heading-text {
		font-size: 22px !important;
	}
	.btn-sec {
		color: white !important;
		width: 150px;
		padding: 8px !important;
		margin-top: 10px !important;
	}
	.price {
		margin: 8px 0 !important;
	}
	.shop-img {
		width: 100% !important;
		height: 213px !important;
		border-radius: 10px;
		border-top-right-radius: 10px !important;
		border-top-left-radius: 10px !important;
		border-bottom-right-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
	.banner-sec .slick-dots {
		top: 320px;
		/* margin-left: 30px; */
	}
	.card-item .innerCard {
		flex-basis: 100% !important;
	}
	.shopnear {
		flex-direction: column;
	}
	.card-content1 {
		padding: 0 !important;
		display: flex;
		margin: 20px 0;
	}
	.floating-img1 {
		margin: 20px;
	}
	.float-img {
		width: 60px !important;
		height: 60px !important;
		border-radius: 50%;
		border: 0px solid white;
	}
	.location-sec {
		margin: 8px 0;
	}
	.address {
		font-size: 12px !important;
		margin-right: 20px !important;
	}
	.star-icon {
		font-size: 12px !important;
		margin-right: 20px;
	}
	.webshow {
		display: none !important;
	}
	.mobileshow {
		display: block !important;
	}
	.shopnear-img-sec {
		width: 100% !important;
	}
}
@media only screen and (min-width: 200px) and (max-width: 400px) {
	.banner-sec .slick-dots {
		top: 345px;
	}
	.address {
		font-size: 11px !important;
		margin-right: 20px;
	}
	.star-icon {
		font-size: 11px !important;
		margin-right: 20px;
	}
	.webshow {
		display: none !important;
	}
	.mobileshow {
		display: block !important;
	}
}
