.button-custom-style {
  border-radius: 10px !important;
}

/* .avatar-button {
  height: 10;
  width: 10;
} */

.button-custom-style {
  display: flex;
  justify-content: space-evenly !important;

  align-items: center;
}

.para-button {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;

  line-height: 48px;
  /* identical to box height, or 343% */

  text-transform: capitalize;

  color: #ffffff;
}
.heding-button {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;

  line-height: 48px;
  /* identical to box height, or 218% */

  text-transform: capitalize;

  color: #ffffff;
}
