/** @format */

.dialog-box-change .css-12rl710-MuiPaper-root-MuiDialog-paper {
	background-color: transparent !important;
	box-shadow: none !important;
	/* max-width: 150% !important; */
	overflow: hidden;
	padding: 30px !important;
}

.inputHide {
	opacity: 0;
	z-index: 10;
	width: 100%;
	position: absolute;
	top: -10px;
	left: 5px;
	padding: 6px 8px;
	min-height: 64px;
}

.img-profile {
	width: 100px;
	height: 100px;
	/* border-radius: 50%; */
	object-fit: cover;
}

@media only screen and (max-width: 600px) {
	.img-profile {
		width: 100px;
		height: 100px;
	}
}
