.appointmentpage-calender .css-1oqqzyl-MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.Mui-focused {
  outline: none;
}

.monthName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

  /* or 167% */
  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: #88878f;
}

fieldset {
  border: none !important;
  outline: none !important;
}
