/** @format */

.navbar-body {
	background-color: #ffffff;
	color: black;
	display: grid;
	grid-template-columns: 10rem 0.5fr 3fr 0.5fr 12rem;
	align-items: center;
	height: 75px;
	position: fixed !important;
	width: 100%;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.08));
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}
.logo {
	display: grid;
	grid-column: 1/3;
	justify-content: start;
	align-items: center;
}
.nav-menulink {
	grid-column: 3/4;
	display: flex;
	justify-content: space-around;
}
.nav-menulink a {
	font-family: "Fira Sans";
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	text-decoration: none;
	position: relative;
	color: black;
	cursor: pointer;
}
.nav-menulink .active {
	color: #e7a356;
}

.nav-profile-section {
	cursor: pointer !important;
}
.active:before {
	content: "";
	position: absolute;
	left: 0;
	top: 199%;
	background-color: #e7a356;
	width: 100%;
	height: 5px;
}

.login-btn {
	display: grid;
	font-style: normal;
	font-family: "Fira Sans" !important;
	font-weight: 600;
	font-size: 18px !important;
	line-height: 22px !important;
	letter-spacing: 0.02em;
	text-decoration-line: underline !important;
	text-transform: capitalize !important;
	color: #e7a356 !important;
	background-color: #272522 !important;
	border-radius: 8px !important;
	width: 150px;
	height: 50px;
}
.nav-login-section {
	grid-column: 5;
}
.mobile-drawer {
	display: none;
}
.mobile-menus a {
	font-size: 18px;
	font-weight: 600;
	font-family: "Fira Sans";
	text-transform: capitalize;
	text-decoration: none;
	padding: 15px;
	color: #272522;
}
.mobile-menus .moblie-active-link {
	color: #e7a356;
}
@media (min-width: 1024px) {
	.navbar-body {
		grid-template-columns: 0rem 1fr 3fr 0.2fr 12rem;
	}
}
@media (max-width: 950px) {
	.navbar-body {
		grid-template-columns: 0rem 6fr 2fr 0.5fr 0rem;
	}
	.nav-menulink {
		display: none;
	}
	.nav-login-section {
		display: none;
	}
	.mobile-drawer {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

@media (max-width: 898px) {
	.navbar-body {
		grid-template-columns: 0rem 5fr 1fr 0.2fr 1rem;
	}
	.nav-menulink {
		display: none;
	}
	.nav-login-section {
		display: none;
	}
	.mobile-drawer {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
@media (max-width: 520px) {
	.navbar-body {
		grid-template-columns: 0rem 6fr 0fr 0.5fr 0.5rem;
	}
	.nav-menulink {
		display: none;
	}
	.nav-login-section {
		display: none;
	}
	.mobile-drawer {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
