.underline-testimonials::after {
  content: "";
  width: 29px;
  height: 5px;
  display: block;
  background-color: #272522;
  text-align: center;
  margin: 10px auto;
}
.underline-testimonials {
  color: #ffffff;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
}
