.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* .css-819f2t-MuiGrid-root > .MuiGrid-item {
  padding-left: 16px !important;
}
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 10px !important;
} */

.react-horizontal-scrolling-menu--scroll-container {
  width: auto !important;
}

.customerCard:hover .customerTitleHeading,
.customerCard:hover .personPrice {
  color: #e7a356 !important;
}

.customerCard:hover .customerSubHeading {
  color: #272522 !important;
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0px !important;
}

@media screen and (min-width: 600px) {
  .react-horizontal-scrolling-menu--arrow-right {
    min-width: "35px !important";
  }
}
