.footer-background{
    width: 100%;
    background-color: #272522;
    background-image:  url('../../../assets/images/Footerimages/footerbg-image.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

    

