.export-team:hover {
  transition: linear 0.5s;
  background: #ebb273 !important;
}
.export-team:hover .expert-team-content {
  transition: linear 0.5s;

  background-color: #272522 !important;
  color: #fff !important;
}

.react-multiple-carousel__arrow .react-multiple-carousel__.arrow--right {
  background: #ebb273 !important;
}
.react-multiple-carousel__arrow::before {
  background-color: #272522;
  width: 44px;
  height: 79px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex !important;
  align-items: center;
  align-self: center;
  margin: auto;
  justify-content: center;
}
.export-team {
  margin-top: 35% !important;
}
.react-multiple-carousel__arrow {
  background-color: transparent !important;
  margin-top: 10%;
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}

.underline--our-expert-team::after {
  content: "";
  width: 29px;
  height: 5px;
  display: block;
  background-color: #ebb273;
  text-align: center;
  margin: 10px auto;
}
.custom-dot-list-style button {
  border: #ebb273 solid 2px !important;
  padding: 2px;
}

@media only screen and (min-width: 0px) {
  .react-multiple-carousel__arrow {
    opacity: 0 !important;
  }
  .react-multi-carousel-list:hover .react-multiple-carousel__arrow {
    opacity: 1 !important;
  }
}
@media only screen and (min-width: 760px) {
  .react-multiple-carousel__arrow {
    opacity: 1 !important;
  }
}
