

.single-offer-container {
  min-height: 50%;
  border-radius: 20px !important;
  box-shadow: none;
  width: 100%;
}

.offer-text-content {
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
}

.offer-discount {
  background-color: #fff;
  padding: 5px 10px;
  width: 60%;
  font-family: "Praise" !important;
  text-align: center;
}

.offer-title {
  font-weight: 600 !important;
  font-size: 26px;
  color: #272522;
  font-family: "Fira-Sans";
}

.offer-description {
  font-family: "Roboto";
  font-weight: 400;
  color: #000;
  line-height: 26px;
  opacity: 0.5;
}

.second-offer-container {
  min-height: 50%;
  border-radius: 20px !important;
  width: 100%;
}
